/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: conpairPileup {
    }
    withName: verifyConcordance {
        container = 'phuongle2510/lcm_py:0.1.1'
    }
    withName: conpairContamination {
        container = 'phuongle2510/lcm_py:0.1.1'
    }
    withName: conpairFilter {
        container = 'phuongle2510/lcm_py:0.1.1'
    }
    withName: hairpinFilter {
    }
    withName: pindelFilter {
    }
    withName: cgpVaf {
    }
    withName: betaBinomFilterIndexSnv {
        container = 'phuongle2510/lcm_r:0.1.1'
    }
    withName: betaBinomFilterIndexIndel {
        container = 'phuongle2510/lcm_r:0.1.1'
    }
    withName: betaBinomFilter {
    }
    withName: getPhylogeny {
        container = 'phuongle2510/lcm_phylogeny:0.1.1' 
    }
    withName: mutToTree {
        container = 'phuongle2510/lcm_phylogeny:0.1.1' 
    }
    withName: matrixGeneratorOnSamples {
        container = 'phuongle2510/sigprofiler_matrixgenerator:1.3.21'
    }
    withName: matrixGeneratorOnBranches {
        container = 'phuongle2510/sigprofiler_matrixgenerator:1.3.21'
    }
    withName: concatMatrices {
        container = 'phuongle2510/lcm_py:0.1.1'
    }
    withName: sigprofilerPlotSnpBySamples {
        container = 'alextidd/sigprofiler_plotting:1.3.21'
    }
    withName: sigprofilerPlotSnpByBranches {
        container = 'alextidd/sigprofiler_plotting:1.3.21'
    }
}